<!DOCTYPE html>
<html lang="fa">
<head>
    <title>Smart Bazaar an E-commerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->


<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/ken-burns.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>




{#    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />#}
{#    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />#}
{#    <link href="css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->#}
{#    <link href="css/ken-burns.css" rel="stylesheet" type="text/css" media="all" /> <!-- banner slider -->#}
{#    <link href="css/animate.min.css" rel="stylesheet" type="text/css" media="all" />#}
{#    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->#}
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="effect.css" rel="stylesheet" type="text/css">
    <link href="file:///C:/Users/Parmida/Desktop/smart_bazaar/web/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <!-- web-fonts -->
    <script src="js/owl.carousel.js"></script>
    <script $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

    $('.header-two').scrollToFixed();
    // previous summary up the page.

    var summaries = $('.summary');
    summaries.each(function(i) {
    var summary = $(summaries[i]);
    var next = summaries[i + 1];

    summary.scrollToFixed({
    marginTop: $('.header-two').outerHeight(true) + 10,
    zIndex: 999
    });
    });
    });
    </script>
    <!-- //scroll to fixed-->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
	$(document).ready(function() {

		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
    </script>
    <!-- //smooth-scrolling-of-move-up -->
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="w3ls-header">
            <!--header-one-->
            <div class="w3ls-header-right" dir="rtl">
                <ul>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="login.html">Login </a></li>
                            <li><a href="signup.html">Sign Up مشتری</a></li>
                            <li><a href="peyk/signup.html">Sign Up پیک</a></li>
                            <li><a href="login.html">درگاه پرداخت</a></li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cart-plus aria-hidden=" true"></i> صفحات اصلی<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li><a href="sitemap1.html">نقشه محصولات</a></li>
                            <li><a href="darbare ma.html">درباره ما</a></li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="location.html" class="dropdown-toggle"><i class="fa fa-map-marker" aria-hidden="true"></i>موقعیت یاب</a>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="help1.html" class="dropdown-toggle"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="header-two">
            <!-- header-two -->
            <div class="container">
                <div class="header-logo">
                    <h1><a href="index.html"><span>اسنپ مارکت</span></h1>

                </div>

                <div class="header-search">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="جست و جو محصول ..." required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    </form>
                </div>
                <div class="header-cart">
                    <div class="my-account">
                        <a href="location.html"><i class="fa fa-map-marker" aria-hidden="true"></i> موقعیت یاب</a>
                    </div>
                    <div class="cart">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="display" value="1" />
                            <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div><!-- //header-two -->
        <div class="header-three">
            <!-- header-three -->
            <div class="container">
                <div class="menu">
                    <div class="cd-dropdown-wrapper">
                        <a class="cd-dropdown-trigger" href="#0">snap market</a>
                        <nav class="cd-dropdown">
                            <a href="#0" class="cd-close">Close</a>
                            <ul class="cd-dropdown-content" dir="rtl">
                                <li><a href="khiyarshor.html">خیارشور</a></li>
                                <li><a href="sos.html">سس</a></li>
                        </nav> <!-- .cd-dropdown -->
                    </div> <!-- .cd-dropdown-wrapper -->
                </div>
                <div class="move-text">
                    <div class="marquee"><a href="offers.html">با ما باشید <span>تخفیف ها |جدیدها </span> <span> با بهترین سریع ترین و         راحت ترین روش خرید کنید</span></a></div>
                    <script type="text/javascript" src="js/jquery.marquee.min.js"></script>
                    <script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="privacy">
        <div class="container">
            <div class="closed-signboard">
                <div class="sign">
                    شرایط شما در دست بررسی است
                </div>
                <div class="strings"></div>
                <div class="pin pin1"></div>
                <div class="pin pin2"></div>
                <div class="pin pin3"></div>
            </div>
            <div class="col-md-12 focus-grid">
                <h3 class="w3ls-title w3ls-title1">استخدامی</h3>
                <div class="estekhdam" style="direction:rtl">
                    <div class="font" style="font-size:32px">
                        <h3> مدارک مورد نیاز</h3>
                        <p>مدارک شناسایی (کارت ملی و شناسنامه)</p>
                        <p>گواهینامه</p>
                        <p>گواهی عدم سوء پیشینه کیفری</p>
                        <p>مدارک خودرو (کارت خودرو و برگ سبز خودرو)</p>
                        <p>بیمه‌نامه معتبر خودرو</p>
                        <p>قبض تلفن یا آب یا برق محل سکونت</p>
                        <p>یک قطعه عکس پرسنلی</p>
                        <p>شرکت با تمام امکانات خود از جمله مرکز تماس ۲۴ ساعته، واحد رسیدگی به شکایات و فرآیند میانجیگری تمامی تلاش خود را جهت رضایت کاربران، رفع اختلافات ایجاد شده در زمان ارائه و استفاده از خدمات اسنپ بین کاربران، و ایجاد صلح و سازش فی مابین آنها می‌کند.</p>
                        <p> تمامی اطلاعات کاربران به عنوان اطلاعات محرمانه نزد شرکت محافظت شده و دسترسی به آن توسط اشخاص ثالث ممنوع بوده مگر برابر تصمیم مقام ذیصلاح قضایی. بنابراین در صورت درخواست و صدور دستور مقتضی از سوی مراجع قضایی، شرکت مکلف به ارائۀ اطلاعات کاربران به مراجع مذکور می‌باشد.</p>
                        <p> شرکت تلاش خود را جهت فراهم نمودن امکان استفاده از خدمات نرم‌افزاری خود توسط دستگاه‌های کاربران محترم می‌کند اما تضمینی نسبت به اجرا شدن آن روی همۀ دستگاه‌ها یا همۀ شبکه‌های ارتباطی (اینترنت، شبکۀ تلفن‌ همراه و …) نخواهد داد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //deals -->
    <!-- footer-top -->
    <div class="w3agile-ftr-top">
        <div class="container">
            <div class="ftr-toprow">
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right" style="direction:rtl">
                        <h4>تحویل در محل</h4>
                        <p>کالای مورد نظر خود را سفارش داده و آن را درب منزل تحویل بگیرید</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>احترام به خواسته مشتری</h4>
                        <p>اعتماد شما سرمایه ماست</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 ftr-top-grids">
                    <div class="ftr-top-left">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right" style="direction:rtl">
                        <h4>کیفیت مناسب</h4>
                        <p> هدف ما تهیه کالای مورد نظر سما با بلاترین کیفیت ممکن است</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer-top -->
    <!-- subscribe -->
    <div class="subscribe">
        <div class="container">
            <div class="col-md-6 social-icons w3-agile-icons">

                <ul>
                    <li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
                    <li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
                    <li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
                    <li><a href="#" class="fa fa-rss icon rss"> </a></li>
                </ul>
                <ul class="apps">
                    <li><h4>Download Our app : </h4> </li>
                    <li><a href="#" class="fa fa-apple"></a></li>
                    <li><a href="#" class="fa fa-windows"></a></li>
                    <li><a href="#" class="fa fa-android"></a></li>
                </ul>
            </div>
            <div class="col-md-6 subscribe-right">
                <h4>بدو بیا تو</h4>
                <form action="#" method="post">
                    <input type="text" name="email" placeholder="Enter your Email..." required="">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //subscribe -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-info w3-agileits-info">
                <div class="col-md-4 address-left agileinfo">
                    <div class="footer-logo header-logo">
                        <h4><a href="index.html"><span>اسنپ مارکت</span><i></i></a></h4>

                    </div>
                    <ul>
                        <li><a href="about.html">درباره ما</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-8 address-right">
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <div class="copy-right">
        <div class="container">
            <p></p>
        </div>
    </div>
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>
    <!-- //cart-js -->
    <!-- countdown.js -->
    <script src="js/jquery.knob.js"></script>
    <script src="js/jquery.throttle.js"></script>
    <script src="js/jquery.classycountdown.js"></script>
    <script>
			$(document).ready(function() {
				$('#countdown1').ClassyCountdown({
					end: '1388268325',
					now: '1387999995',
					labels: true,
					style: {
						element: "",
						textResponsive: .5,
						days: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#1abc9c",
								lineCap: 'round'
							},
							textCSS: 'font-weight:300; color:#fff;'
						},
						hours: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#05BEF6",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						minutes: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#8e44ad",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						seconds: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#f39c12",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						}

					},
					onEndCallback: function() {
						console.log("Time out!");
					}
				});
			});
    </script>
    <!-- //countdown.js -->
    <script src="js/jquery.menu-aim.js"> </script>
    <script src="js/main.js"></script>
</body>
</html>